.topBanner {
  align-items: center;
  display: flex;
  background-color: #101010;
  height: 54px;
  justify-content: flex-end;
  margin-top: 54px;
  overflow: hidden;
  padding: 12px 24px 12px 0;
  
  &-text {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    margin-left: 31px;
    text-align: right;
    white-space: nowrap;

    &--gold {
      color: #D7A830;
    }
  }

  &-date {
    font-weight: 400;
  }

  &-imageContainer {
    height: 54px;
    position: relative;
    width: 159px;
  }

  &-image {
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
  }

  &-icon {
    margin-left: 18px;
    padding: 0 10px;
    min-width: 30px
  }

  .tablet, .desktop {
    display: none;
  }

  &-button {
    border: none;
    border-radius: 100px;
    color: #000000;
    font-size: 16px;
    padding: 12px 24px;
  }

  &-bullet {
    margin: 0 12px;
  }

  &-code {
    align-items: center;
    display: flex;
    font-weight: 400;
    &--gold {
      color: #D7A830;
      font-weight: 700;
    }
  }

  &-close {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .topBanner {
    &-imageContainer {
      width: 184px;
    }

    &-text {
      justify-content: center;
    }

    .mobile, .desktop {
      display: none;
    }

    .tablet {
      display: flex;
    }
  }
}

@media (min-width: 1024px) {
  .topBanner {
    padding-left: 8px;

    &-imageContainer {
      width: 212px;
    }

    .mobile, .tablet {
      display: none;
    }

    .desktop {
      display: flex;
    }
  }
}